<section class="pt-20">
    <div class="flex flex-col items-center pt-32 dark:text-white pb-14 ">
        <h1>Detealle de <b>{{empleado.nombre}} {{empleado.apellido}}</b></h1>
    <div>
        <div class="flex flex-col ">
            <div class="">
            <label>ID: <b>{{empleado.id}}</b></label>            
            </div>
            <div class="">
                <label> <b>Nombre:  </b>{{empleado.nombre}}</label>            
            </div>
            <div class="">
                <label><b>Apellido:  </b>{{empleado.apellido}}</label>            
            </div>
            <div class="">
                <label><b>Email:  </b>{{empleado.email}}</label>            
            </div>
        </div>
        </div>
    </div>
</section>
